.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.Header {
  z-index: 1;
}

.Body {
  display: flex;
  flex-direction: row;
  min-height: calc(100vh - 64px);
} 

.Menu {
  width: 100%;
  min-height: 100%;
}

.Content, .Login-Signup {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin: 10px 20px; */
}

.Content .form-button {
  margin: 10px auto;
}

.Login, .Signup, .form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  width: 80%;
}

.form-input, .form-button {
  width: 100%;
  margin: 10px;
}

.form-button {
  height: 50px;
}

.Menu button {
  margin: 20px;
}

.Menu h3 {
  padding: 0 20px;
}
